.AboutsectionsBackground {
  width: 100%;
  height: 100vh;
  background-color: #302e2e;
}
.workSectionsBackground {
  width: 100%;
  height: 100vh;
  background-color: #0f2147;
}
.contactSectionsBackground {
  width: 100%;
  height: 100vh;
  background-color: #303841;
}
